
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  margin-bottom: 40px;
}
.header img{
  width: 128px;
}
.info{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.contact{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 40px;
}
.contact p{
  font-size: 12px;
  color: #999999;
}
.contact a{
  text-decoration: none;
  color: #000;
  cursor: pointer;
  line-height: 1px;
}
.contact a:hover{
  text-decoration: underline;
}
.contact a img{
  width: 18px;
}

.buy-button{
  text-decoration: none;
  color: #fff;
  background-color: #ff0202;
  padding: 16px;
  border-radius: 16px;
  transition: 0.3s ease;
  width: fit-content;
  border: 2px solid #ff0202;
}
.buy-button:hover{
  color: #ff0202;
  background-color: #fff;
  border: 2px solid #ff0202;
}


/* Carousel styles */

.carousel-container {
  /* position: relative; */
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 40px;

}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 10px;
  width: 100%;
  scrollbar-width: none;
}



.card {
  width: 100%;
  height: 600px;
  background-color: #f5f5f5;

  display: flex;
  padding: 24px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  flex-shrink: 0;
}

.card-info{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 24px;
  border-radius: 10px;
  color: #fff;
  height: fit-content;
  /* gap: 30px; */
}


.combo-card{
  background-image: url("/assets/combo.png");
  background-size: cover;
  background-position: center;

}


.friends-card{
  background-image: url("/assets/friendsDiscount.png");
  background-size: cover;
  background-position: center;

}

.week-card{
  background-image: url("/assets/week.png");
  background-size: cover;
  background-position: center;

}


/* Menu style */
.menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
  justify-content: center;
  /* background-color: #ff0202; */
  margin-bottom: 40px;
}

.menu-card {
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}
.menu-card img{
  width: 100%;
  height: 250px;
  transition: 0.3s ease;
}
.menu-card a{
  padding: 8px 24px;
}

.menu-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}


.price {
  font-weight: bold;
  margin-top: 10px;
  display: block;
  color: #000;
  margin-bottom: 50px;
}


/* About Us styles */
.abt-us-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
  /* margin: 0 16px; */
}

.benefit-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.benefit-img {
  width: 50%;
  border-radius: 24px;
}

.benefit-img img {
  border-radius: 24px;
  width: 100%;
  /* height: 400px; */
}

.benefit-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.benefit-content li {
  margin-left: 30px;
}

@media (max-width: 600px) {
  .benefit-row{
    flex-direction: column;
    gap: 0px;
    border-bottom: 1px solid #999999;
    padding-bottom: 30px;
  }
  .benefit-img, .benefit-content {
    width: 100%;
  }
}