body{
  margin: auto 0;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
h1, h2, h3{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

button, a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
p{
  font-size: 16px;
  line-height: 1.7;
}

h1 {
  font-size: clamp(32px, 5vw, 48px);
}

h2 {
  font-size: clamp(26px, 4vw, 36px);
}
